/**
 * ----------------------------------------------
 * COLOR CODES
 * ----------------------------------------------
 *
  white:                #ffffff
  black:                #000000
  theme-color:          #463D8B
 */

// color code's

$white:             #ffffff;
$black:             #000000;
$theme-color:       #36B1C0; 
$primary:           #ff5858;
$c1:                #2A2B41;

/**
 * ----------------------------------------------
 * COLOR CODES
 * 

 main-font: poppins;

 */
// font face
$font: 'roboto', sans-serif;


/**
 * ----------------------------------------------
 * 1. DEFAULT START
 * ----------------------------------------------
 */
body {
    font-family:$font;
    font-size: 14px;
    background-color: #FFF;
}

// for fixed gap
.white_space{
    height: 100px;
    width: 100%;
    @media only screen and (max-width: 500px) {
        height: 40px;
    }
    @media only screen and (max-width: 1370px) {
        height: 40px;
    }
}
.page-wrapper{
  position: relative;
}
.sec-container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  @media only screen and (max-width: 800px){
    padding: 0 3%;
  }
  @media only screen and (max-width: 500px){
    padding: 0 6%;
  }
}


/**
 * ----------------------------------------------
 *  ALL MIXIN FUNCTIONS
 * ----------------------------------------------
 */
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(.5em,  lighten($c1,20%));

// Custom mixin
@mixin font($a,$b,$c){
    font-family: $a;
    font-weight: $b;
    font-size: $c;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($time , $types) {
    -webkit-transition: all $time $types;
       -moz-transition: all $time $types;
        -ms-transition: all $time $types;
         -o-transition: all $time $types;
            transition: all $time $types;
}
@mixin transform($types){
    -webkit-transform:$types;
       -moz-transform:$types;
        -ms-transform:$types;
         -o-transform:$types;
            transform:$types;
}
@mixin animation($a,$b,$c){
    -webkit-animation:$a $b $c;
       -moz-animation:$a $b $c;
        -ms-animation:$a $b $c;
         -o-animation:$a $b $c;
            animation:$a $b $c;
}


/**
 * ----------------------------------------------
 * 1.2. For Fixed Gap
 * ----------------------------------------------
 */
.white-space{
    height: 130px;
    width: 100%;
    @media only screen and (min-width: 1370px) {
        height: 160px;
    }
    @media only screen and (max-width: 500px) {
        height: 80px;
    }
    @media only screen and (max-width: 400px) {
        height: 50px;
    }
}

/**
 * ----------------------------------------------
 * 1.3. For Tag Fixing
 * ----------------------------------------------
 */
a{
    text-decoration: none;
    &:hover,&:focus{
        text-decoration: none;
        outline: none;
    }
}
h1,
h2,
h3,
h4,
h5,
h6{margin: 0px;}
.fix{
    margin: 0px;
    padding: 0px;
}
.p-none{
    padding: 0px;
}
.m-none{
    margin: 0px;
}
.clear{
    clear: both;
}
.sec-gap{
    height: 100px;
    width: 100%;
}
.btn-style-1 {
    padding: 9px 50px;
    background-color: $theme-color;
    color: $white ;
    @include font($font,400,19px);
    border: none;    
    @include transition(.2s , linear);
    @media only screen and (max-width: 700px){
      padding: 8px 30px;
      @include font($font,500,15px);
    }

    @media only screen and (min-width: 1380px){
      padding: 13px 45px;
    }

}
.btn-style-1:hover,.btn-style-1:focus{
  background-color: darken($theme-color,5%);
  outline: none;
  color: $white;
}
.btn-style-2 {
    padding: 9px 50px;
    background-color: $primary;
    color: $white ;
    @include font($font,400,19px);
    border: none;
    @include transition(.2s , linear);
    @media only screen and (max-width: 700px){
      padding: 8px 30px;
      @include font($font,500,15px);
    }

    @media only screen and (min-width: 1380px){
      padding: 13px 45px;
    }

}
.btn-style-2:hover,.btn-style-2:focus{
    background-color: darken($primary,5%);
    outline: none;
    color: $white;
}
.title-text{
    @include font($font,600,50px);
    color: $black;
    margin: 0px;
    @media only screen and (max-width: 700px){
      font-size: 35px;
    }
}
.p-text{
    @include font($font,400,16px);
    color: $black;
    margin: 0px;
    @media only screen and (max-width: 700px){
      font-size: 14px;
    }
}
.subtitle-text{
    @include font($font,700,20px);
    color: #000;
    margin: 0px;
    @media only screen and (max-width: 700px){
      font-size: 16px;
    }
}
.sec-title{
    @include font($font,600,24px);
    color: $black;
    margin: 0px;
    // letter-spacing: 1px;
}