.navbar{
	margin: 0;
	border-top: none;
	border-radius:0;
	a.active,a:hover{
		@include transition(.2s , linear);
		background: $theme-color !important;
    	color: #fff !important;
	}
}
.title-text{
	margin-top: 20px;
}
.main-body{
	background-color: #efefef;
	padding-bottom: 100px;
}
.all-inputs{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	background-color: #ccc;
	padding: 35px 20px;
	text-align: center;
	margin-top: 50px;
	input[type="text"]{
		width:100%;
		margin:10px 0px;
	}
	.react-datepicker__input-container{
		width: 60%;
	    display: block;
	    margin-bottom: 20px;
	    input{
    	    margin-left:0px;
    		padding: 5px 10px;
    		border: none;
    		&:focus{
    			outline: none;
    		}
	    }
	    
	}
	.name{
		width: 100%;
		border: none;
	    padding: 5px 10px;
	    &:focus{
	    	outline: none;
	    }
	}
	.item-dtls{
		width: 100%;
		border: none;
		padding: 24px 10px;
		resize: vertical;
		margin-top: 20px;
		height: 200px;
	    &:focus{
	    	outline: none;
	    }
	}
	.upload-box{
		text-align: center;
		margin-top: 20px;
		margin-bottom: 40px;
		.uploded-img{
			max-width: 150px;
			width: 100%;
			height: 150px;
			margin: 0 auto;
			display: inline-block;
			img{
				width: 100%;
			}
		}
		.file-input{
			display: inline-block;
			.p-text{
				color: #fff;
			}
		}
	    .fileUpload {
		    position: relative;
		    overflow: hidden;
		    margin-left: 20px;
			input.upload {
				position: absolute;
			    top: 0;
			    right: 0;
			    margin: 0;
			    padding: 0;
			    font-size: 20px;
			    cursor: pointer;
			    opacity: 0;
			    filter: alpha(opacity=0);
			}
		}
		.btn-file-input {
		    background-color: #36B1C0;
		    border: 1px solid #36B1C0;
		    width: 150px;
		    color: #fff;
		    padding: 7px 21px;
		    margin: 0 auto;
		    margin-left: 20px;
		}
	}
	.btn-style-2{
		margin-left: 10px;
	}
}
.view-box{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	background-color: #ccc;
	padding: 35px 20px;
	margin-top: 50px;
	.img-big{
		max-width: 600px;
		width: 100%;
		max-height: 500px;
		height: 100%;
		margin: 0 auto;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
		}
	}
	.item-dtls{
		margin: 10px 0;
		margin-bottom: 30px;
	}
	.item-name{
		margin: 10px 0;
	}
}
.list-box{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	background-color: #ccc;
	padding: 35px 20px;
	margin-top: 50px;
	.all-list{
		list-style: none;
		li{
			border-bottom: 1px solid #bbb;
			padding: 5px 0;
			&:last-child{
				border-bottom: none;
			}
		}
	}
	.uploded-img{
		max-width:150px;
		width: 100%;
		height: 150px;
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;
		padding: 5px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.item-info{
		max-width: 80%;
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		padding: 5px;
	}
	.item-dtls{
		margin: 10px 0;
		margin-bottom: 30px;
		text-align: left;
	}
	.item-name{
		text-align: left;
		margin: 10px 0;
	}
	.item-option{
		display: inline-block;
		vertical-align: middle;
		padding: 5px;
		.icons-option{
			display: block;
			background-color: $theme-color;
			color: #fff;
			text-align: center;
			padding: 5px 20px;
			margin-bottom: 10px;
			@include transition(.2s , linear);
			&:hover{
				background-color: darken($theme-color,10%);
			}
		}
		.icons-option2{
			@extend .icons-option;
			background-color: $primary;
			&:hover{
				background-color: darken($primary,10%);
			}
		}
		.icons-option3{
			@extend .icons-option;
			background-color: #00ff40;
			&:hover{
				background-color: darken(#00ff40,10%);
			}
		}
	}
}
.alert-show{
	width: 60%;
	margin: 20px auto 0px;
}
.list-footer{
	&.date{
		span{
		color: red;
		}
	}
	span{
		font-size: 14px;
		color: #14de1a;
		font-weight: bold;
		padding: 0px 20px 0px 10px;
	}
}
.search-box{
	max-width: 200px;
	width: 100%;
	float: right;
	margin-bottom: 20px;
}
.my-pagination{
	text-align: center;
	margin-top: 40px;
}

@media only screen and(max-width: 728px){
	.search-box{
		float: inherit;
		margin: 0 auto;
	}
	.list-box{
		text-align: center;
	}
	.item-option{
		.icons-option,.icons-option2{
			display: inline-block !important;
			margin-left: 5px;
		}
	}
}